absl-py==0.9.0
alabaster==0.7.12
appdirs==1.4.3
applaunchservices==0.2.1
appnope==0.1.0
argh @ file:///home/conda/feedstock_root/build_artifacts/argh_1595627874344/work
astor @ file:///home/conda/feedstock_root/build_artifacts/astor_1593610464257/work
astroid @ file:///Users/runner/miniforge3/conda-bld/astroid_1591645087651/work
atomicwrites @ file:///home/conda/feedstock_root/build_artifacts/atomicwrites_1588182545583/work
attrs==19.3.0
autopep8 @ file:///home/conda/feedstock_root/build_artifacts/autopep8_1591017828430/work
Babel==2.8.0
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache==1.6.1
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1588608214987/work
brotlipy==0.7.0
certifi==2020.6.20
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1595805544857/work
chardet==3.0.4
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1593623337153/work
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1595348799213/work
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch @ file:///home/conda/feedstock_root/build_artifacts/diff-match-patch_1594679019945/work
distlib==0.3.0
docutils==0.16
entrypoints==0.3
flake8 @ file:///home/conda/feedstock_root/build_artifacts/flake8_1594584774608/work
future==0.18.2
gast==0.3.3
google-pasta==0.2.0
grpcio @ file:///Users/runner/miniforge3/conda-bld/grpcio_1594576815870/work
h5py @ file:///Users/runner/miniforge3/conda-bld/h5py_1595110209982/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
imagesize==1.2.0
importlib-metadata @ file:///Users/runner/miniforge3/conda-bld/importlib-metadata_1593211384223/work
intervaltree==3.0.2
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1595446887249/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///Users/runner/miniforge3/conda-bld/ipython_1593235463433/work
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.15.2
Jinja2==2.11.2
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1593624380152/work
jsonschema==3.2.0
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1594732094290/work
jupyter-core==4.6.3
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring @ file:///Users/runner/miniforge3/conda-bld/keyring_1588433946832/work
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
Mako @ file:///home/conda/feedstock_root/build_artifacts/mako_1595925083607/work
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1589366472132/work
MarkupSafe==1.1.1
matplotlib==3.1.3
mccabe==0.6.1
mistune==0.8.4
nbconvert==5.6.1
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1594060262917/work
notebook==6.0.3
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1595522909688/work
numpydoc @ file:///home/conda/feedstock_root/build_artifacts/numpydoc_1593656006205/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1589925210001/work
pandas==1.0.3
pandocfilters==1.4.2
parso==0.5.2
pathtools==0.1.2
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
pluggy @ file:///Users/runner/miniforge3/conda-bld/pluggy_1592827488528/work
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1590412252446/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1592500439797/work
protobuf==3.12.3
psutil @ file:///Users/runner/miniforge3/conda-bld/psutil_1594826940124/work
ptyprocess==0.6.0
pycodestyle @ file:///home/conda/feedstock_root/build_artifacts/pycodestyle_1589305246696/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pydocstyle==5.0.2
pyflakes==2.2.0
Pygments==2.6.1
pygpu==0.7.6
pylint @ file:///Users/runner/miniforge3/conda-bld/pylint_1592404316792/work
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyrsistent==0.16.0
PySocks==1.7.1
python-dateutil==2.8.1
python-jsonrpc-server @ file:///home/conda/feedstock_root/build_artifacts/python-jsonrpc-server_1588783985962/work
python-language-server==0.31.9
pytz==2020.1
PyYAML==5.3.1
pyzmq==19.0.1
QDarkStyle==2.8.1
QtAwesome @ file:///home/conda/feedstock_root/build_artifacts/qtawesome_1588715536397/work
qtconsole @ file:///home/conda/feedstock_root/build_artifacts/qtconsole_1592845750760/work
QtPy==1.9.0
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1592425495151/work
rope @ file:///home/conda/feedstock_root/build_artifacts/rope_1588950285934/work
Rtree==0.9.4
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1589920868775/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy_1595583590545/work
Send2Trash==1.5.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
snowballstemmer==2.0.0
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1591999956871/work
Sphinx @ file:///home/conda/feedstock_root/build_artifacts/sphinx_1593947940626/work
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
spyder==4.1.1
spyder-kernels @ file:///Users/runner/miniforge3/conda-bld/spyder-kernels_1595628922009/work
statsmodels==0.11.1
tensorboard==1.14.0
tensorflow @ file:///Users/runner/miniforge3/conda-bld/tensorflow_1594833362401/work/tensorflow-1.14.0-cp37-cp37m-macosx_10_11_x86_64.whl
tensorflow-estimator==1.14.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
Theano @ file:///Users/runner/miniforge3/conda-bld/theano_1595878178806/work
threadpoolctl @ file:///tmp/tmp79xdzxkt/threadpoolctl-2.1.0-py3-none-any.whl
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1589469402899/work
tornado==6.0.4
traitlets==4.3.3
typed-ast==1.4.1
ujson==5.4.0
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1595434816409/work
watchdog @ file:///Users/runner/miniforge3/conda-bld/watchdog_1595646219227/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1595859607677/work
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.11.2
wurlitzer==2.0.0
yapf==0.29.0
zipp==3.1.0
